
    
    .my-card{
        margin: 4px 10px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    
    .my-card {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        background-color: #fff;
        background-clip: border-box;
        box-shadow: 0px 0px 8px;
        margin-bottom: 28px;
        border-radius: 35px 0;
        overflow: hidden;
        transition: .5s
    }
    
    .my-card:hover {
        box-shadow: 0px 0px 8px #c81a3b
    }
    
    .my-card img {
        max-height: 250px;
        width: 100%
    }
    
    .my-card-body {
        padding: 20px;
        margin-bottom: 20px
    }
    
    .my-card-body h5 {
        text-transform: capitalize;
        line-height: 25px;
        font-size: 25px
    }
    
    .my-card-body p {
        margin: 10px 0;
        color: #f7941d
    }
    
    .social-icons {
        margin-bottom: 25px
    }
    
    .social-icons a {
        margin-right: 22px;
        color: #363842;
        font-size: 16px
    }
    
    .social-icons a:hover {
        color: #c81a3b
    }
    
    
    .my-card-btn:hover {
        color: rgb(15, 15, 15)
    }

    .speakers h2{
        font-size: 40px;
        text-align: center;
        padding: 20px 0px;
        color: rgb(206, 10, 10);
        font-weight: bold;
    }




    /* .speakers h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0px;
    color: rgb(206, 10, 10);
    font-weight: bold;
}
.all-speakers{
    background-color: #f2f2f2;
}
.speaker-width{
    width: 80%;
    margin: auto;
}
.speakers-card{
    padding: 30px 0px;
    margin-top: 20px;
    width: 320px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 7px;
    transition: transform .3s; 
}
.speakers-card:hover {
    background-color: rgb(204, 39, 39);
  }
.speaker-img img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.speaker-content h4{
    font-size: 20px;
    margin-top: 8px;
}

.speaker-content .pos{
    font-size: 18px;
    margin-top: -7px;
}


.speaker-content .comp{
    font-size: 18px;
    margin-top: -15px;
    font-weight: 550;
}

.speaker-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media screen and (max-width: 1024px) {
    .speaker-width{
        width: 90%;
        margin: auto;
    }
       } */